.nav{
    height: 60px;
    
}
a{
    text-decoration: none;
    color: black;
}
.menu_wrap{
    width: 1000px;
    height: 60px;
    margin: auto;
    display: flex;
    list-style: none;
}
.menu1 .menu1_title{
    text-decoration: none;
    color: black;
    line-height: 60px;
}

/*각 메뉴들의 크기공간 : 이공간이 확보되어야 함  */
.menu1{
    width:100px;
    height: 200px;
    margin:0px 20px;
    z-index: 1;
}
.menu1 ul{
   display: none;           
}

/* hover 되었을 때 사각공간 ul*/
.menu1:hover ul{   
    list-style: none;
    display: block;        
    width:110px;
    height: 180px;  
    border: 1px solid  #081D58;   
    background-color: #fff;
}
.menu1:hover ul li{           
    padding: 10px;
    font-size: 15px;
}